:root,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: 
  "t"
  "m"
  "b";
}
h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  grid-area: t;
}
.top-half-container {
  background-color: chartreuse;
  width: 100vw;
  grid-area: m;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'l r'
}

.left {
  width: 100%;
  height: 100%;
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: l;
}
.right {
  width: 100%;
  height: 100%;
  border: 2px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: r;
}
.button-container {
  background-color: brown;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#data-top {
  background-color: darkcyan;
  width: 75%;
  height: 75%;
  border: 2px solid black;
}
button {
  width: 200px;
  height: 50px;
}
.bottom-half-container {
  background-color: turquoise;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: b;
}
#usual-suspects, #everyone-else {
  background-color: tomato;
  border: 2px solid purple;
  width: 80%;
  height: 40%;
}
