:root,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  /* border: 3px solid chartreuse; */
}
.content {
  /* border: 2px solid orange; */
  box-sizing: border-box;
  background-color: hotpink;
  max-width: 80%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "t"
    "m"
    "b";
}
h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  grid-area: t;
}
.top-half-container {
  /* border: 2px solid purple; */
  padding: 0 30px;
  width: 100%;
  grid-area: m;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "l l r";
  box-sizing: border-box;
}

.left {
  /* border: 2px solid chartreuse; */
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: l;
}
.right {
  /* border: 2px solid orange; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: r;
}
.button-container {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#data-top {
  width: 100%;
  height: 75%;
  border: 2px solid black;
}
button {
  width: 200px;
  height: 50px;
}
.bottom-half-container {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: b;
}
#usual-suspects,
#everyone-else {
  border: 2px solid purple;
  width: 100%;
  height: 40%;
}
.data-drop-target {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-container {
  margin: 5px;
  width: 100px;
  height: 25px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}